.new{
    float: right;
    margin-bottom: 1.5em;
    background-color: var(--success-color1);
    padding: 0.5em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0;
    font-weight: 600;
    color: var(--neutral-color3);
    transition: ease-in-out 0.3s;
}
  
.new svg{
    margin-right: 5px;
}
  
.new:hover{
    background-color: var(--success-color2);
    transform: scale(1.1);
}
  
.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table{
    border: 1px solid var(--gray-color2);
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
  
table caption{
    font-size: 1.5em;
    margin: 0.5em 0  0.75em;
}
  
table tr{
    background-color: var(--neutral-color4);
    border:1px solid var(--gray-color2);
    padding: 0.35em;
}
  
table th, table td{
    padding: 0.60em;
    text-align: center;
}
  
table th{
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
  
table td .action{
    border:0;
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 3px;
}
  
table td .action svg{
    vertical-align: middle;
}
  
table td .badge{
    padding: 3px;
    border-radius: 3px;
    color: var(--neutral-color3);
}

.dashboard span{
    margin: 2em 0;
    font-size: 1.2em;
    font-weight: 600;
}
  
.btn-more{
    margin: 1.5em 0;
    padding: 0.5em 1em;
    background-color: var(--dark-color2);
    border:0;
    border-radius: 5px;
    font-size: 1.1em;
    color: var(--neutral-color3);
}

td[data-label="#"] {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
  
.action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

@media screen and (max-width: 600px) {
    td[data-label="#"] {
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 8px 0;
    }
    
    .action {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        margin: 2px 0;
    }
}