.container-center{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: var(--dark-color1);
padding: 0 12px;
}

.login{
background-color: var(--neutral-color2);
width: 600px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.login-area{
background-color: var(--dark-color2);
width: 100%;
display: flex;
justify-content: center;
}

.login-area img{
width: 170px;
height: 130px;
padding: 20px;
}

form{
margin-top: 1.5rem;
width: 90%;
display: flex;
flex-direction: column;
}

form h1{
text-align: center;
margin-bottom: 1rem;
color: var(--dark-color2);
}

.login input{
margin-bottom: 1rem;
height: 35px;
border-radius: 4px;
border:0;
padding: 10px;
font-size: 15px;
background-color: var(--neutral-color3);
}

form button{
height: 35px;
border:0;
border-radius: 4px;
background-color: var(--dark-color2);
color: var(--neutral-color3);
font-size: 1.3rem;
}

.login a{
margin: 1.5rem 0;
color: var(--dark-color3);
cursor: pointer;
}